*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    border: 2px solid black;
    height: 733px;
    width: 1500px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.col-1{
    width: 8.33%;
    height: 30px;
    background-color: black;
}
.col-2{
    width: 16.66%;
    height: 30px;
    background-color: black;
}
.col-3{
    width: 25%;
    background-color: green;
}
.col-4{
    width: 33.33%;
    height: 500px;
    background-color: orange;
}
.col-5{
    width: 41.66%;
    background-color: cyan;
}
.col-6{
    width: 50%;
    background-color: black;
}
.col-7{
    width: 58.33%;
    background-color: yellowgreen;
}
.col-8{
    width: 66.66%;
    background-color: yellow;
}
.col-9{
    width: 75%;
    background-color:blueviolet;
}
.col-10{
    width: 83.33%;
    background-color: gray;
}
.col-11{
    width: 91.66%;
    background-color: violet;
}
.col-12{
    width: 100%;
}
.row{
    display: flex;
    gap: 10px;
}
.container{
    width: 100%;
}
#navbar{
    display: flex;
    height: 55px;
    background-color: orange;
}
#up{
    display: flex;
    height: 30px;
    margin-top: 20px;
    width: 100%;
}
#down{
    display: flex;
    margin-top: 20px;
    width: 100%;
}
#down .col-4:nth-child(2){
    background-color: white;

}
#down .col-4:nth-child(2) .item{
    background-color: orange;
    width: 479px;
    height: 245px;
    
}
#down .col-4:nth-child(2) .item:nth-child(2){
    margin-top: 10px;
}
#down .col-4:nth-child(3){
    background-color: white;
}
#down .col-4:nth-child(3) .item{
    background-color: black;
    margin-top: 10px;
    width: 479px;
    height: 92px;
}
#down .col-4:nth-child(3) .item:nth-child(1){
    margin-top: 0px;
}
#last{
    background-color: orange;
    display: flex;
    height: 55px;
    margin-top: 20px;
}


